@media screen and (max-width: 600px) {
    div { 
        border: 2px dotted red;
        display: inline-block;
        width: 45%;
        background-color: aqua;
    }

    .container {
        padding: 20px;
    }

    p {
        color: white
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    margin:10px 15px;